<div class="container d-grid text-center justify-content-center mt-5">
  <h1>This is your score!</h1>

  <br>
  <p><%= @results %></p>
  <div>
    <%= link_to 'NEW GAME', new_path, class: 'btn w-50 btn-new' %>
  </div>
</div>
